import {
  CanActivate,
  ExecutionContext,
  Inject,
  Injectable,
  UnauthorizedException,
} from "@nestjs/common";
import { Reflector } from "@nestjs/core";
import { firstValueFrom, isObservable, Observable } from "rxjs";

// export securityScheme names as enum
export enum SecurityScheme { {{#authMethods}}
  {{name}} = "{{name}}",{{/authMethods}}{{^authMethods}}
  NoScheme = "none",{{/authMethods}}
}

export const AuthSchemes = Reflector.createDecorator<SecurityScheme[]>();

export interface AuthServiceInterface {
  validate: (scheme: SecurityScheme, context: ExecutionContext) => boolean | Promise<boolean> | Observable<boolean>;
}

export const AUTH_SERVICE_TOKEN = "OASG_AUTH_SERVICE";

@Injectable()
export class AuthGuard implements CanActivate {
  constructor(
    @Inject(AUTH_SERVICE_TOKEN)
    private readonly authService: AuthServiceInterface,
    private readonly reflector: Reflector
  ) {}

  async canActivate(context: ExecutionContext): Promise<boolean> {
    const schemes = this.reflector.get<SecurityScheme[]>(AuthSchemes, context.getHandler());

    const validationResults = await Promise.all(schemes
      .map((scheme) => this.authService.validate(scheme, context))
      .map((validationResult) => this.extractValidationResultAsPromise(validationResult))
    );

    if (validationResults.some((result) => result)) {
      return true;
    }

    throw new UnauthorizedException();
  }

  private async extractValidationResultAsPromise(validationResult: boolean | Promise<boolean> | Observable<boolean> ): Promise<boolean> {
    if (isObservable(validationResult)) {
      return firstValueFrom(validationResult);
    }

    return validationResult;
  }
}
