import { Type } from 'class-transformer';

import { IsOptional, IsDefined } from 'class-validator';
import { IsString, IsNumber, IsBoolean, IsEnum, IsArray, ValidateNested } from 'class-validator';
import { Max, Min, IsInt } from 'class-validator';
import { Matches, IsEmail, IsUUID } from 'class-validator';
import { IsISO8601 } from 'class-validator';
import { IsValidISO8601Date } from '../is-valid-iso8601-date.validator';

export class {{classname}}{{#allParents}}{{#-first}} extends {{/-first}}{{{.}}}{{^-last}}, {{/-last}}{{/allParents}} { {{>modelGenericAdditionalProperties}}
{{#vars}}
    {{#description}}
    /**
     * {{{.}}}
     */
    {{/description}}
    {{#required}}@IsDefined(){{/required}}{{^required}}@IsOptional(){{/required}}{{^isArray}}{{#isString}}
    @IsString(){{#pattern}}
    @Matches({{{.}}}){{/pattern}}{{#isEmail}}
    @IsEmail(){{/isEmail}}{{#isUuid}}
    @IsUUID(){{/isUuid}}{{/isString}}{{#isDateTime}}
    @IsString()
    @IsISO8601({ strict: true, strictSeparator: true }){{/isDateTime}}{{#isDate}}
    @IsString()
    @IsISO8601()
    @IsValidISO8601Date(){{/isDate}}{{#isInteger}}
    @IsInt(){{/isInteger}}{{#isLong}}
    @IsInt(){{/isLong}}{{#isShort}}
    @IsInt(){{/isShort}}{{#isNumber}}
    @IsNumber(){{/isNumber}}{{#isFloat}}
    @IsNumber(){{/isFloat}}{{#isDouble}}
    @IsNumber(){{/isDouble}}{{#isBoolean}}
    @IsBoolean(){{/isBoolean}}{{#minimum}}
    @Min({{minimum}}){{/minimum}}{{#maximum}}
    @Max({{maximum}}){{/maximum}}{{#allowableValues}}{{^enumVars.empty}}
    @IsEnum({{{dataType}}}){{/enumVars.empty}}{{/allowableValues}}{{#isModel}}
    @ValidateNested()
    @Type(() => {{{dataType}}}){{/isModel}}{{/isArray}}{{#isArray}}
    @IsArray(){{#items}}{{#isString}}
    @IsString({ each: true }){{#pattern}}
    @Matches({{{.}}}, { each: true }){{/pattern}}{{#isEmail}}
    @IsEmail(undefined, { each: true}){{/isEmail}}{{#isUuid}}
    @IsUUID(undefined, { each: true}){{/isUuid}}{{/isString}}{{#isDateTime}}
    @IsString({ each: true })
    @IsISO8601({ strict: true, strictSeparator: true }, { each: true }){{/isDateTime}}{{#isInteger}}
    @IsInt({ each: true }){{/isInteger}}{{#isLong}}
    @IsInt({ each: true }){{/isLong}}{{#isShort}}
    @IsInt({ each: true }){{/isShort}}{{#isNumber}}
    @IsNumber(undefined, { each: true }){{/isNumber}}{{#isFloat}}
    @IsNumber(undefined, { each: true }){{/isFloat}}{{#isDouble}}
    @IsNumber(undefined, { each: true }){{/isDouble}}{{#isBoolean}}
    @IsBoolean({ each: true }){{/isBoolean}}{{#minimum}}
    @Min({{minimum}}, { each: true }){{/minimum}}{{#maximum}}
    @Max({{maximum}}, { each: true }){{/maximum}}{{#allowableValues}}{{^enumVars.empty}}
    @IsEnum({{{dataType}}}, { each: true }){{/enumVars.empty}}{{/allowableValues}}{{#isModel}}
    @ValidateNested({ each: true }) @Type(() => {{{dataType}}}){{/isModel}}{{#isArray}}
    // Multidimensional array validation not supported{{/isArray}}{{/items}}{{/isArray}}
    {{#isReadOnly}}readonly {{/isReadOnly}}{{{name}}}{{^required}}?{{/required}}: {{{dataType}}}{{#isNullable}} | null{{/isNullable}};

{{/vars}}
}{{>modelGenericEnums}}
