{
  "name": "{{{npmName}}}",
  "version": "{{{npmVersion}}}",
  "description": "OpenAPI client for {{{npmName}}}",
  "author": "OpenAPI-Generator Contributors",
  "keywords": [
    "openapi-client",
    "openapi-generator"
  ],
  "license": "Unlicense",
  "scripts": {
    "build": "tsc"
  },
  "main": "dist/index.js",
  "peerDependencies": {
    "@nestjs/common": ">=10.0.0",
    "@nestjs/core": ">=10.0.0",
    "@nestjs/platform-express": ">=10.0.0",
    "class-transformer": "^0.5.1",
    "class-validator": "^0.14.0",
    "reflect-metadata": "0.2.2",
    "rxjs": "^7.2.0"
  },
  "dependencies": {
    "@types/validator": "13.11.7"
  },
  "devDependencies": {
    "@types/multer": "^1.4.7",
    "typescript": "^4.7.4"
  }{{#npmRepository}},
  "publishConfig": {
    "registry": "{{{npmRepository}}}"
  }
{{/npmRepository}}
}
