{
    "compilerOptions": {
        "emitDecoratorMetadata": true,
        "experimentalDecorators": true,
        "noImplicitAny": false,
        "suppressImplicitAnyIndexErrors": true,
        "target": "{{#supportsES6}}es6{{/supportsES6}}{{^supportsES6}}es5{{/supportsES6}}",
        "module": "commonjs",
        "moduleResolution": "node",
        "removeComments": true,
        "sourceMap": true,
        "outDir": "./dist",
        "noLib": false,
        "declaration": true,
        "lib": [ "es6", "dom" ],
        "typeRoots": [
            "node_modules/@types"
        ]
    },
    "exclude": [
        "node_modules",
        "dist"
    ],
    "filesGlob": [
        "./model/*.ts",
        "./api/*.ts"
    ]
}
