# coding: utf-8

from typing import ClassVar, Dict, List, Tuple  # noqa: F401
from fastapi import Request, Response

{{#imports}}
{{import}}
{{/imports}}

class Base{{classname}}:
    subclasses: ClassVar[Tuple] = ()

    def __init_subclass__(cls, **kwargs):
        super().__init_subclass__(**kwargs)
        Base{{classname}}.subclasses = Base{{classname}}.subclasses + (cls,)

{{#operations}}
{{#operation}}
    async def {{operationId}}(
        self,
        request: Request,
        {{#allParams}}
        {{>impl_argument_definition}},
        {{/allParams}}
    ) -> Response: # -> {{returnType}}{{^returnType}}None{{/returnType}}
        {{#notes}}"""{{.}}"""
        ...{{/notes}}{{^notes}}...{{/notes}}
{{^-last}}

{{/-last}}
{{/operation}}
{{/operations}}
