/* tslint:disable */
/* eslint-disable */
{{>licenseInfo}}

import { useMutation, UseMutationOptions, UseMutationResult, useQuery, UseQueryOptions, UseQueryResult } from '@tanstack/react-query';
import { useApi } from './use-api.hook';
{{#imports.0}}
import type {
  {{#imports}}
  {{className}},
  {{/imports}}
} from '../models/index{{importFileExtension}}';
{{/imports.0}}
{{#operations}}
import {
  {{classname}},
{{#operation}}
{{#allParams.0}}
  {{#prefixParameterInterfaces}}{{classname}}{{/prefixParameterInterfaces}}{{operationIdCamelCase}}Request,
{{/allParams.0}}
{{/operation}}
} from './{{ classFilename }}{{importFileExtension}}';
{{/operations}}

{{#operations}}
{{#operation}}

export type {{classname}}{{#lambda.titlecase}}{{nickname}}{{/lambda.titlecase}}Parameters =
{{^useSingleRequestParameter}}
  { parameters: Parameters<{{classname}}['{{nickname}}']>};
{{/useSingleRequestParameter}}
{{#useSingleRequestParameter}}
  {{#allParams.0}}{{#prefixParameterInterfaces}}{{classname}}{{/prefixParameterInterfaces}}{{operationIdCamelCase}}Request{{/allParams.0}}{{^allParams.0}}void{{/allParams.0}};
{{/useSingleRequestParameter}}

/**
  {{#notes}}
  * {{&notes}}
  {{/notes}}
  {{#summary}}
  * {{&summary}}
  {{/summary}}
  {{#isDeprecated}}
  * @deprecated
  {{/isDeprecated}}
  */
export const use{{classname}}{{#lambda.titlecase}}{{nickname}}{{/lambda.titlecase}}Mutation = <TContext = unknown>(
  options: Omit<UseMutationOptions<{{{returnType}}}{{^returnType}}void{{/returnType}}, Error, {{classname}}{{#lambda.titlecase}}{{nickname}}{{/lambda.titlecase}}Parameters, TContext>, 'mutationFn'> = {}
): UseMutationResult<{{{returnType}}}{{^returnType}}void{{/returnType}}, Error, {{classname}}{{#lambda.titlecase}}{{nickname}}{{/lambda.titlecase}}Parameters, TContext> => {
  const api = useApi({{classname}});
  return useMutation<{{{returnType}}}{{^returnType}}void{{/returnType}}, Error, {{classname}}{{#lambda.titlecase}}{{nickname}}{{/lambda.titlecase}}Parameters, TContext>({
{{^useSingleRequestParameter}}
    mutationFn: ({ parameters }) => api.{{nickname}}(...parameters),
{{/useSingleRequestParameter}}
{{#useSingleRequestParameter}}
{{#allParams.0}}
    mutationFn: (parameters) => api.{{nickname}}(parameters),
{{/allParams.0}}
{{^allParams.0}}
    mutationFn: () => api.{{nickname}}(),
{{/allParams.0}}
{{/useSingleRequestParameter}}
    ...options,
  });
}
/**
  {{#notes}}
  * {{&notes}}
  {{/notes}}
  {{#summary}}
  * {{&summary}}
  {{/summary}}
  {{#isDeprecated}}
  * @deprecated
  {{/isDeprecated}}
  */
export const use{{classname}}{{#lambda.titlecase}}{{nickname}}{{/lambda.titlecase}}Query = (
  options: Partial<Omit<UseQueryOptions<{{{returnType}}}{{^returnType}}void{{/returnType}}>, 'queryFn'>> = {}
{{^useSingleRequestParameter}}
  ,{parameters}: Partial<{{classname}}{{#lambda.titlecase}}{{nickname}}{{/lambda.titlecase}}Parameters>
{{/useSingleRequestParameter}}
{{#useSingleRequestParameter}}
{{#allParams.0}}
  ,parameter: {{classname}}{{#lambda.titlecase}}{{nickname}}{{/lambda.titlecase}}Parameters | undefined
{{/allParams.0}}
{{/useSingleRequestParameter}}
): UseQueryResult<{{{returnType}}}{{^returnType}}void{{/returnType}}> => {
  const api = useApi({{classname}});
  return useQuery<{{{returnType}}}{{^returnType}}void{{/returnType}}>({
{{^useSingleRequestParameter}}
    queryKey: ['{{classname}}','{{nickname}}', ...requestParameters],
    queryFn: ({ signal }) => api.{{nickname}}(...requestParameters.slice(0, -1), { ...requestParameters[requestParameters.length - 1], signal }),
    enabled: !!parameters,
{{/useSingleRequestParameter}}
{{#useSingleRequestParameter}}
{{#allParams.0}}
    queryKey: ['{{classname}}','{{nickname}}', parameter],
    queryFn: ({ signal }) => api.{{nickname}}(parameter, { signal }),
    enabled: !!parameter,
{{/allParams.0}}
{{^allParams.0}}
    queryKey: ['{{classname}}','{{nickname}}'],
    queryFn: ({ signal }) => api.{{nickname}}({ signal }),
{{/allParams.0}}
{{/useSingleRequestParameter}}
    ...options,
  });
}
{{/operation}}

{{/operations}}
