import {
  createContext,
  useContext,
  useCallback,
  useMemo,
  FC,
  PropsWithChildren,
} from "react";
import * as runtime from '../runtime';
{{#apiInfo}}
{{#apis}}
{{#operations}}
import { {{classname}} } from './{{ classFilename }}{{importFileExtension}}';
{{/operations}}
{{/apis}}


type APIS_IN_ORDER = [
  {{#apis}}
  {{#operations}}
  {{classname}},
  {{/operations}}
  {{/apis}}
];

export type APIS = APIS_IN_ORDER[number];

export declare interface Type<T> extends Function {
  new (...args: any[]): T;
}

export const ApiContext = createContext<{ getApi: <T extends APIS>(api: Type<T>) => T | undefined }>({
  getApi: () => undefined,
});

export const getApiInstance = <TArray extends APIS[], T extends TArray[number]>(
  api: Type<T>,
  apis: TArray
): T => {
  return  apis.find((a) => a instanceof api) as T;
};

export const ApiProvider: FC<PropsWithChildren<{ apis: APIS[] }>> = ({
  apis,
  children,
}) => {
  const parent = useContext(ApiContext);
  const getApi = useCallback(<T extends APIS>(api: Type<T>): T => {
    const apiInstance = (apis.find((a) => a instanceof api) ?? parent.getApi(api)) as T | undefined;
    if (!apiInstance) {
      throw new Error(`API instance for ${api.name} not found. Please provide it using ApiProvider from '{{npmName}}'`);
    }
    return apiInstance;
  }, [apis, parent.getApi]);
  const value = useMemo(() => ({ getApi }), [getApi]);

  return (
    <ApiContext.Provider value={value}>
      {children}
    </ApiContext.Provider>
  );
};

export const useApi = <T extends APIS>(api: Type<T>): T => {
  const { getApi } = useContext(ApiContext);
  return getApi(api);
}

export const ApiConfigContext = createContext<runtime.ConfigurationParameters>({});

export const ApiConfigProvider: FC<PropsWithChildren<{ config: runtime.ConfigurationParameters }>> = ({
  config,
  children,
}) => {
  return (
    <ApiConfigContext.Provider value={config}>
      {children}
    </ApiConfigContext.Provider>
  );
};

export const ApiConfigWithInheritProvider: FC<PropsWithChildren<{ config: runtime.ConfigurationParameters }>> = ({
  config,
  children,
}) => {
  const parent = useContext(ApiConfigContext);
  const value = useMemo(() => ({
    ...parent,
    ...config,
    middleware: [...parent.middleware ?? [], ...config.middleware ?? []],
    headers: { ...parent.headers, ...config.headers },
  }), [parent, config]);

  return (
    <ApiConfigContext.Provider value={value}>
      {children}
    </ApiConfigContext.Provider>
  );
};

export const useApiConfig = (): runtime.Configuration => {
  const configParameters = useContext(ApiConfigContext);
  const config = useMemo(() => new runtime.Configuration(configParameters), [configParameters]);
  return config;
}

type ReadonlyApiConstructorToType<T> = T extends [
  infer ARRAYFIRST,
  ...infer ARRAYREST
]
  ? ARRAYFIRST extends InstanceType<infer ARRAYFIRSTTYPE>
    ? [InstanceType<ARRAYFIRST>, ...ReadonlyApiConstructorToType<ARRAYREST>]
    : []
  : [];

type ApiConstructorToType<T extends Array<unknown>> = T[0] extends undefined
  ? APIS_IN_ORDER
  : ReadonlyApiConstructorToType<T> extends []
  ? APIS[]
  : ReadonlyApiConstructorToType<T>;

export const createApiInstances = <T extends Type<APIS>[]>(
  config: runtime.Configuration,
  apis: T = [] as unknown as T
): ApiConstructorToType<T> => {
  if (apis.length > 0) {
    return apis.map((api) => new api(config)) as ApiConstructorToType<T>;
  }
  return [
    {{#apis}}
    {{#operations}}
    new {{classname}}(config),
    {{/operations}}
    {{/apis}}
  ] as unknown as ApiConstructorToType<T>;
};

export const useCreateApiInstances = <T extends Type<APIS>[]>(
  apis: T = [] as unknown as T
): ApiConstructorToType<T> => {
  const config = useApiConfig();
  return useMemo(() => createApiInstances(config, apis), [apis, config]);
};
{{/apiInfo}}

export const ApiInstancesProvider: FC<PropsWithChildren<{ apis: Type<APIS>[] }>> = (
  { apis, children }
) => {
  const apiInstances = useCreateApiInstances(apis);
  return (
    <ApiProvider apis={apiInstances}>
      {children}
    </ApiProvider>
  );
};
